.header{
	background-color: red;
	min-height: 70px;
}
.wrapper{
	overflow: hidden;
}
.contact{
background-color: yellow;
min-height: 100px;
width:50%;
float:right;

}
.blog{
	background-color: blue;
	min-height: 100px;
	width:50%;
	float: left;

}
.footer{
	background-color: green;
	min-height: 70px;
}